body{
    margin: 0px;
    padding: 0px;
}
.navbar-brand{
    margin-left:20px;
}
.page-container{
    position: absolute;
    top: 250px;
    width: 500px;
    left: 383px
}
.page-container h2{
    text-align: center;
}
.form-input {
    max-width: 530px;
    margin: auto;
    position: relative;
    box-sizing: border-box;
}
.input-group{
    max-width: 530px;
    margin: auto;
    position: relative;
}
.banner-container{
    text-align: center;
    background-color: grey;
    background-image: url(../images/bg.png);
    background-attachment: fixed;
    box-shadow: inset 0 0 0 2000px #1c1c1c7a;
    text-align: center;
    padding: 160px 15px;
    background-size: cover;
   

}
.container{
    max-width: 800px;
    padding: 80px 24px;
    margin: auto
}
.container-1{
    max-width: 800px;
    padding: 50px 24px;
    margin: auto
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.city-img{
    width: 100px;
    height: 100px;
}
.text-dark{
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px
}
.city-card{
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    display: inline-block;
    padding: 20px
}
.city-card:hover{
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    
}
.txt{
    text-align: center;
    padding:15px;
    font-size:20px;
}
.col-sm a{
    text-decoration:none;
}
.model{
    width: 550px;
}